landing-page {
  height: 100%;

  h1,
  .lead {
    text-align: center;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 span {
    color: var(--c-carbon-50);
  }

  .lead {
    margin-bottom: 40px;
  }
}
