announcement-bar {
  background: #F8FAFC;
  box-shadow: 0 1px 0px 0 rgba(0,20,56,.06);
  position: relative;
  z-index: 999;
  padding: 6px 0 7px;
  text-align: center;
  color: #73849A;

  .container {
    position: relative;
    font-size: 11px;
    line-height: 1.8em;
    font-weight: 400;
    letter-spacing: -.01em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    &:before,
    &:after {
      display: none;
    }
  }

  p {
    display: inline;
    margin: 4px 0 0;
    color: #73849A;
  }

  strong {
    font-weight: 600;
    color: #020814;
  }

  a {
    background-color: var(--color-dodger-blue);
    color: #fff;
    border-radius: 16px;
    margin-left: 12px;
    padding: 6px 8px 5px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: 0;
    white-space: pre;
    letter-spacing: .02em;
    transition: .2s background-color, .2s box-shadow;

    &::after {
      font-family: 'Ionicons';
      content: '\f3d1';
      margin-left: 3px;
    }

    &:hover {
      background-color: --color-dodger-blue-light;
      // background-color: lighten(#30427e, 5);
      box-shadow: 0 1px 2px rgba(black, .1);
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.announcement-bar--studio {
  background-color: #0B0C10;
  background-image: url('https://ionicframework.com/img/products/studio/preheader-bg-2.png');
  background-repeat: no-repeat;
  background-size: 1224px 49px;
  background-position: center;
  color: #B2BECD;
  padding: 10px 0 12px;

  .container {
    font-size: 13px;
  }

  .container > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container > div::before {
    display: block;
    content: '';
    background-image: url('https://ionicframework.com/img/products/studio/studio-logo.svg');
    width: 78px;
    height: 21px;
    margin-right: 24px;
  }

  .container p {
    margin-bottom: 0;
    color: #b2becd;
  }

  a {
    font-size: 11px;
    padding: 10px;
    margin-left: 24px;
  }

  a:hover {
    background-color: lighten(#3880FF, 5%);
  }
}
