announcement-bar {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;

  min-height: 4.5rem;

  @media (max-width: 48em) {
    display: none;
  }
}

announcement-bar {
  position: relative;

  background-color: var(--c-carbon-100);
  background-size: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

announcement-bar .bg {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

announcement-bar .ui-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  min-height: 4.5rem;
}

announcement-bar p {
  margin: 0;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4rem;

  color: #fff;
}

announcement-bar button {
  cursor: pointer;
  
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;

  border: 1px solid #a2fcff;

  font-family: monospace;
  font-size: .875rem;
  line-height: 0.813rem;

  padding: 0 1rem;

  height: 2.375rem;

  letter-spacing: 0.09em;

  transition: opacity 0.2s ease-out;

  background: linear-gradient(215.33deg, #176bff -88.72%, #17f1ff 111.77%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
announcement-bar button:hover {
  background-color: #bbfcff;
}
announcement-bar button:active {
  background-color: #73f6fb;
}
