announcement-bar {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;

  @media (max-width: 48em) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    p strong {
      color: var(--c-red-50);
    }
  }
}

announcement-bar {
  // background: #001934 var(--asset-path);
  background: linear-gradient(
    90deg,
    #440f14,
    #5e1219 15%,
    #000 35%,
    #000 45%,
    #5e1219 85%,
    #440f14
  );
  background-size: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

announcement-bar .ui-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.5rem;
}

announcement-bar p {
  margin: 0;

  font-size: 1rem;

  font-weight: 500;

  letter-spacing: 0.01em;

  color: #fff;

  strong {
    color: var(--c-red-70);

    font-weight: 500;

    transition: color 0.2s ease-out;
  }
}

announcement-bar button {
  border: none;

  background-color: #8bfbff;
  border-radius: 0;

  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: #001a3a;

  padding: 7.5px 12px 9.5px;

  min-height: 32px;

  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.08rem;

  transition: background-color 0.2s ease-out;
}
announcement-bar button:hover {
  background-color: #bbfcff;
}
announcement-bar button:active {
  background-color: #73f6fb;
}
